block body
    body
        main
            include header
            include hero
            include offers
            include practice
            include music
            include meditation
            include transform
            include footer
            include modal