meta(charset='UTF-8')
meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(rel="stylesheet", href="css/normalize.css")
link(rel="stylesheet", href="css/reset.css")
link(rel="stylesheet", href="css/main.min.css")
<link rel="shortcut icon" href="/img/shortcut.png" type="image/png">
link(rel="preconnect" href="https://fonts.googleapis.com") 
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin) 
link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Merienda+One&display=swap" rel="stylesheet")
script(src="js/main.min.js" defer) 