block hero
    section.hero#Home
        h1.hero__heading Meditations Helps You Detoxify Your Body
        p.hero__text.  
            “It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout point of using Lorem Ipsum is that it has a more-or-less.”
        button.hero__btn.learnMore_btn Get Start
        img.hero__img(src="img/girl.webp")