block modal
    div.modal.hidden
        div.overlay
        div.modal__wrapper
            h2.modal__heading Learn more
            p.modal__text Write your e-mail and we contact you soon
            button.modal__close
            form.modal__form
                input(class="modal__input" type="text" name="name" placeholder="Enter your name"  autocomplete="off")
                input(class="modal__input" type="mail" name="mail" placeholder="Enter your e-mail"  autocomplete="off")
                button.learnMore_btn.modal__button Send