block transform
    section.transform#Services
        div.container
            h2.transform_heading Transform Your Body, Mind and Life Today
            p.transform_text "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos  sint occaecati cupiditate non provident.”
            div.transform__block
                img(src="img/transform-1.webp", alt="yoga illustration")
                div.transform__block__item
                    h3.transform__block__item_heading Antistrees Meditation
                    p.transform__block__item_text
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected.
                    p.transform__block__item_text
                        | These cases are perfectly simple and easy to distinguish. In a free hour when our power of choice is untrammelled.
                    button.learnMore_btn Learn More
            div.transform__block
                div.transform__block__item
                    h3.transform__block__item_heading Backyark Band Meditation
                    p.transform__block__item_text
                        | To take a trivial example, which of us ever undertakes laborious physical exercise except to obtain some advantage from it...
                    p.transform__block__item_text
                        | The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    button.learnMore_btn Learn More
                img(src="img/transform-2.webp", alt="yoga illustration")
            