* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1140px;
	margin: 300px auto;
	text-align: center;	
}

.btn {
	border: none;
	background: transparent;
	border: 2px solid black;
	padding: 10px 50px;
	font-size: 24px;
	font-weight: 700;
	cursor: pointer;
	margin-bottom: 20px;
}

.btn:active {
	transform: scale(1.1);
	background: silver;
}

.text {
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	margin-top: 20px;
}