body {
  background-color: #313131;
  font-family: Georgia;
  font-size: 13px;
  color: #979797;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 5px solid #a7c353;
  background: #fff;
}

.h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  color: #666666;
}

.h3 {
  font-size: 14px;
  color: #878787;
}

.text {
  font-size: 13px;
  line-height: 18.2px;
  color: #878787;
}

.flex__box {
  display: flex;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.6s;
  z-index: 10000;
}

.menu__item a {
  display: block;
  margin-top: 30px;
  font-size: 24px;
  color: #fff;
}

.menu_active {
  left: 0%;
  width: 50%;
  z-index: 1000;
}

@media screen and (max-width: 1200px) {
  .header::after {
    width: 96.8% !important;
  }
}

@media screen and (max-width: 1000px) {
  .about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about__item {
    margin-top: 40px;
  }
  .footer .flex__box {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer button {
    width: 100%;
  }
  .details {
    margin-top: 40px;
  }
  .header::after {
    width: 96% !important;
  }
}

@media screen and (max-width: 840px) {
  .hamburger {
    display: block;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    margin: 0 30px 35px 0;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #a7c353;
    margin-bottom: 5px;
    transition: 0.5s all;
  }
  .header__nav__box {
    display: none !important;
  }
  .hamburger_active {
    position: fixed;
    right: 0%;
    z-index: 10000;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  .header::after {
    width: 95% !important;
  }
  .slider__item_header, .slider__item_text {
    position: initial !important;
  }
  .slider__item_text {
    padding-left: 24px !important;
  }
}

@media screen and (max-width: 720px) {
  .main__text_top {
    width: 75% !important;
    font-size: 18px !important;
  }
  .header::after {
    width: 94% !important;
  }
}

@media screen and (max-width: 560px) {
  .header::after {
    width: 92% !important;
  }
}

@media screen and (max-width: 560px) {
  body {
    font-size: 12px;
  }
  .header::after {
    width: 88% !important;
  }
  .slider__item_text {
    width: 240px !important;
  }
  .about_text, .about_img {
    width: 240px !important;
  }
}

.main__text_top {
  width: 715px;
  margin: 45px auto 40px auto;
  font-size: 22px;
  color: #666666;
  line-height: 30.8px;
  text-align: center;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 0 0 0 20px;
}

.header::after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 1160px;
  margin: 0.5px auto;
  background: #a7c353;
}

.header__img {
  padding: 30px 0;
}

.header__nav__box {
  display: flex;
}

.header__nav__box__item {
  padding: 60px 20px 30px 20px;
  text-transform: uppercase;
  user-select: none;
}

.header__nav__box__item:hover {
  background: #a7c353;
  color: #fff;
  cursor: pointer;
}

.header__nav__box__item:active {
  background: #99b34d;
}

.about {
  padding: 40px 20px 45px 20px;
}

.about__item .project .flex__box {
  align-items: center;
}

.about__item .project .text {
  width: 264px;
  margin-top: 12px;
}

.about__item__serviceCard {
  margin-bottom: 20px;
}

.about__item__serviceCard .about_btn {
  margin-top: 14px;
}

.about__item__serviceCard .text {
  width: 188px;
  margin-top: 15px;
}

.about__item__serviceCard_img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 20px;
  background: #a7c353;
  text-align: center;
}

.about__item__serviceCard_img img {
  width: 32px;
  height: 32px;
  margin-top: 16px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about_img {
  width: 360px;
  height: 220px;
  outline: 1px solid #e2e2e2;
  outline-offset: 4px;
}

.about_text {
  margin-top: 20px;
  width: 360px;
  font-size: 13px;
  color: #999;
  line-height: 18.2px;
}

.about_btn {
  user-select: none;
  font-size: 13px;
  line-height: 13px;
  color: #a7c353;
  margin-top: 20px;
  float: right;
  cursor: pointer;
}

.about_btn:hover {
  color: #99b34d;
}

.about_btn:active {
  color: #a7c353;
}

.heading {
  font-size: 16px;
  line-height: 19.2px;
  color: #989898;
}

.heading span {
  font-weight: 600;
  margin-left: 12px;
}

.project:last-child {
  margin-top: 48px;
}

.project .about_btn {
  margin-top: 10px;
}

.footer {
  padding: 35px 20px;
  background: #313131;
}

.footer .flex__box {
  justify-content: space-between;
}

.footer__head {
  font-size: 13px;
  font-weight: 600;
  color: #999999 !important;
}

.footer .heading {
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 1px solid #3a3a3a;
}

.footer textarea {
  resize: none;
  width: 205px;
  height: 100px;
  border: none;
  border-radius: 5px;
  background-color: #383838;
  padding: 10px;
  font-size: 13px;
  color: #989898;
  margin-bottom: 10px;
  font-family: Georgia;
  border: 1px solid transparent;
}

.footer textarea:focus {
  border: 1px solid #a7c353;
}

.footer input {
  font-family: Georgia;
  width: 205px;
  border: none;
  border-radius: 5px;
  background-color: #383838;
  padding: 10px;
  font-size: 13px;
  color: #989898;
  margin-bottom: 10px;
  border: 1px solid transparent;
}

.footer input:first-child {
  margin-top: 20px;
}

.footer input:focus {
  border: 1px solid #a7c353;
}

.footer button {
  padding: 8px 12px 9px 12px;
  background: #a7c353;
  color: #313131;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-family: Georgia;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.footer button:hover {
  background-color: #99b34d;
}

.footer button:active {
  background-color: #a7c353;
}

.details {
  width: 225px;
}

.details img {
  margin: 20px 15px 0 0;
  cursor: pointer;
}

.details .flex__box {
  align-items: center;
  justify-content: unset;
  padding-bottom: 10px;
  border-bottom: 1px solid #3a3a3a;
}

.details .footer__head {
  margin-top: 20px;
}

.details__text {
  margin-top: 20px;
  font-size: 12px;
  color: #999999;
}

.details__text span {
  user-select: none;
  color: #a7c353;
  cursor: pointer;
}

.details__text span:hover {
  color: #99b34d;
}

.details__text span:active {
  color: #a7c353;
}

.details__text li {
  margin-top: 10px;
}

.litle {
  display: block;
  font-size: 11px;
  margin: 12px 0;
}

.box {
  margin-bottom: 45px;
}

.lower__box {
  margin-top: 35px;
  height: 30px;
  border-top: 1px solid #3a3a3a;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slider {
  position: relative;
  padding: 0 20px;
}

.slider__item {
  position: relative;
}

.slider__item_header {
  position: absolute;
  top: 68%;
  right: 5.5%;
  padding: 12px 24px;
  background: #a7c353;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.slider__item_text {
  width: 351px;
  position: absolute;
  top: 78%;
  right: 5.5%;
  background: #fff;
  padding: 15px;
}

.slider .slick-arrow {
  margin: -64px 0 0 0;
  position: absolute;
  top: 50%;
  z-index: 20;
  font-size: 0;
  width: 52px;
  height: 52px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.5);
  border-radius: 50%;
}

.slider .slick-arrow.slick-prev {
  left: 30px;
  border: none;
  background: url("../img/arrow_l.svg") 0 0/100% no-repeat;
  transition: background .3s ease;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev:hover {
  background: url("../img/arrow_hl.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-prev:active {
  background: url("../img/arrow_l.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 30px;
  border: none;
  background: url("../img/arrow_r.svg") 0 0/100% no-repeat;
  transition: background .3s ease;
  cursor: pointer;
}

.slider .slick-arrow.slick-next:hover {
  background: url("../img/arrow_hr.svg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next:active {
  background: url("../img/arrow_r.svg") 0 0/100% no-repeat;
}

.slider .slick-dots {
  margin-top: 14px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e2e2e2;
}

.slider .slick-dots li {
  margin: 0 4px;
}

.slider .slick-dots li.slick-active button {
  padding: 0;
  height: 15px;
  background: #fff;
  border: 3px solid #a7c353;
  border-radius: 50px;
}

.slider .slick-dots button {
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  background: #a7c353;
  border-radius: 50px;
  cursor: pointer;
}
