.main {
	&__text{
		&_top {
			width: 715px;
			margin: 45px auto 40px auto;
			font-size: 22px;
			// font-style: ;
			color: #666666;
			line-height: 30.8px;
			text-align: center;
		}
	}
}
