body {
  font-family: 'Gilroy-Medium';
  user-select: none;
}

a {
  font-family: 'Gilroy-Medium';
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.steaker {
  display: inline-block;
  padding: 10px 15px 9px 15px;
  background-color: #4FBFA5;
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
}

.d-flex {
  display: flex;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}

.h4 {
  font-size: 21px;
}

.h3 {
  font-family: 'Gilroy-Bold';
  font-size: 24px;
}

.h2 {
  color: #00868A;
}

.h1 {
  width: 470px;
  font-family: 'Gilroy-Bold';
  font-size: 48px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Gilroy-Bold';
  font-size: 48px;
  line-height: 1.5;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

p {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 1.5;
}

.header__inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner_item {
  z-index: 10000;
  padding: 0 30px !important;
}

.header__inner_item .header__inner_item-list {
  float: left;
  position: relative;
}

.header__inner_item-list {
  padding: 45px 30px 45px 5px;
  background: url("../img/list.png") no-repeat right;
}

.header__inner_item-list-items {
  display: none;
}

.header__inner_item-list-items li a {
  display: block;
  width: 170px;
  padding: 20px 10px;
  transition: color, background .3s ease;
}

.header__inner_item-list-items li a:hover {
  background: #00868A;
  color: #fff;
}

ul > li:hover .header__inner_item-list-items {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 100px;
}

.header__inner_item-special {
  font-size: 14px !important;
  padding: 13px 15px 11px 50px;
  text-transform: uppercase;
  background: #00868A url("../img/eye-icon.png") no-repeat 5%;
  color: #fff !important;
  cursor: pointer;
}

.header__inner_item::before {
  position: absolute;
  top: 0;
  content: '';
  margin: 0 -30px;
  width: 1px;
  height: 100px;
  background: #c4c4c4;
}

.header__inner_item:last-child::after {
  position: absolute;
  top: 0;
  content: '';
  margin: 0 29px;
  width: 1px;
  height: 100px;
  background: #c4c4c4;
}

.first__screen {
  background: #4FBFA5;
}

.first__screen__box {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first__screen__box span {
  background: #00868A;
  text-align: center;
  padding: 24px 0;
  color: #fff;
  width: 25%;
  font-size: 21px;
  cursor: pointer;
  transition: background .5s ease;
}

.first__screen__box span:hover {
  background-color: #4FBFA5;
}

.first__screen__box span:first-child {
  width: 50%;
}

.container .first__screen__box:last-child {
  padding-top: 0;
}

.first__screen__nav__list {
  display: flex;
}

.first__screen__nav__list-item a {
  line-height: 1.5;
  font-size: 18px;
  color: #fff;
  padding: 30px;
  transition: background .5s ease;
}

.first__screen__nav__list-item a:hover {
  background: #00868A;
}

.first__screen__btn {
  background: #fff;
  padding: 10px 15px 9px 15px;
  border: none;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  transition: background .5s ease, color .5s ease;
}

.first__screen__btn:hover {
  background: #00868A;
  color: #fff;
}

.first__screen__content {
  color: #fff;
  width: 100%;
}

.first__screen__content__text {
  width: 415px;
  margin-top: 20px;
}

.first__screen__content__btn {
  margin-top: 40px;
  text-transform: uppercase;
  background: #00868A;
  border: none;
  transition: background .5s ease;
}

.first__screen__content__btn:hover {
  background-color: #fff;
}

.first__screen__content__btn a {
  display: block;
  color: #fff;
  padding: 15px 25px 14px 25px;
}

.first__screen__content__btn a:hover {
  color: #000;
}

.first__screen__content__image {
  width: 750px;
  height: 530px;
}

.slide {
  height: 530px;
  display: flex !important;
  justify-content: space-between;
}

.slide__content {
  display: block;
  margin: auto 0;
}

.slick-prev {
  position: absolute;
  left: 375px;
  top: 85%;
  z-index: 1;
}

.slick-next {
  position: absolute;
  right: 800px;
  top: 85%;
  z-index: 1;
}

.adv {
  margin-top: 80px;
}

.adv__content__box {
  display: grid;
  grid-template-columns: 525px 1fr;
  margin-bottom: 80px;
}

.adv__content__box__aside {
  padding: 35px 40px 230px 35px;
  background: url("../img/cosmetic.png") no-repeat 50% 100%;
  background-color: #00868A;
}

.adv__content__box__aside span {
  display: block;
  font-size: 30px;
  margin-bottom: 25px;
  line-height: 1.5;
  color: #fff;
}

.adv__content__box__aside__btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: none;
  background: 0;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gilroy-Bold';
  margin-bottom: 45px;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.adv__content__box__aside__btn::before {
  position: absolute;
  content: '';
  width: 61px;
  height: 48px;
  border: 1px solid #fff;
  transition: .5s ease;
}

.adv__content__box__aside__btn:hover::before {
  transition: .5s ease;
  width: 195px;
}

.adv__content__box__aside__btn img {
  position: relative;
  padding: 20px 15px;
  margin-right: 20px;
}

.adv__content__box__content {
  padding: 35px 40px 0px 135px;
  background: url("../img/patent.png") no-repeat 100% 100%;
}

.adv__content__box__content__list .active {
  opacity: 1;
}

.adv__content__box__content__list .active p {
  width: 320px;
  font-size: 24px;
}

.adv__content__box__content__list .active span {
  animation: slide 1s alternate 1;
  font-size: 96px;
  color: #00868A;
  margin-right: 30px;
}

.adv__content__box__content__list__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 50px;
  font-size: 14px;
  opacity: .5;
}

.adv__content__box__content__list__item p {
  width: 145px;
}

.adv__content__box__content__list__item span {
  transition: all 1s ease;
  font-size: 48px;
  margin-right: 20px;
}

.news {
  padding: 0;
  background-color: #4FBFA5;
  background-image: none;
}

.news .steaker {
  margin: 35px 40px;
  background-color: #00868A;
}

.news__content {
  background-image: none;
  background-color: #E6F3F4;
  padding: 35px 60px;
}

.news__content__list {
  margin-top: 20px;
}

.news__content__list__item {
  position: relative;
  margin-bottom: 25px;
  padding-left: 15px;
}

.news__content__list__item::before {
  position: absolute;
  content: '';
  left: 0;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background: #4FBFA5;
}

.news__list .active {
  background-color: #00868A;
}

.news__list__item {
  font-size: 18px;
  color: #fff;
  line-height: 150%;
  padding: 35px 40px;
  cursor: pointer;
  transition: background-color .5s ease;
}

.news__list__item:hover {
  background-color: #00868A;
}

@keyframes slide {
  0% {
    font-size: 48px;
    color: #000;
  }
  100% {
    font-size: 96px;
    color: #00868A;
  }
}

.specialOffers {
  height: 350px;
  background-color: #E6F3F4;
  text-align: center;
  margin-bottom: 200px;
}

.specialOffers__content {
  padding-top: 80px;
}

.specialOffers__content__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-top: 60px;
}

.specialOffers__content__box__btn {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 16px;
  border: none;
  background: 0;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Gilroy-Bold';
  margin: 25px;
  letter-spacing: 0.05em;
  line-height: 180%;
  cursor: pointer;
}

.specialOffers__content__box__btn::before {
  position: absolute;
  right: 30px;
  content: '';
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  transition: .5s ease;
}

.specialOffers__content__box__btn:hover::before {
  transition: .5s ease;
  width: 255px;
}

.specialOffers__content__box__btn img {
  position: relative;
  padding: 20px 15px;
}

.specialOffers__content__box__item {
  background-color: #00868A;
  position: relative;
}

.specialOffers__content__box__item .steaker {
  position: absolute;
  top: 25px;
  left: 25px;
}

.services {
  padding-top: 100px;
}

.services__box {
  display: grid;
  width: 855px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-gap: 30px;
  margin-bottom: 80px;
}

.services__box_item li {
  display: block;
  margin-top: 15px;
}

.services__box_item li a:hover {
  color: #4FBFA5;
}

.services__box_item li:first-child {
  margin-top: 0;
  margin-bottom: 2px;
}

.services__contacts__box_item {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  margin-bottom: 30px;
}

.services__contacts__box_item span {
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  opacity: .5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.services__contacts__box_item a {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  background-color: #00868A;
  padding: 15px 25px 14px 25px;
  text-transform: uppercase;
  color: #fff;
  width: 160px;
}

.footer__inner {
  border-top: 1px solid #c4c4c4;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer__inner_item {
  z-index: 10000;
  padding: 0 30px !important;
}

.footer__inner_item:first-child {
  font-family: 'Gilroy-Regular';
  font-size: 12px;
  width: 300px;
}

.footer__inner_item:nth-child(2) a {
  padding: 0 30px;
  font-family: 'Gilroy-Regular';
  font-size: 12px;
  text-decoration: underline;
}

.footer__inner_item .footer__inner_item-list {
  float: left;
  position: relative;
}

.footer__inner_item-list {
  padding: 45px 30px 45px 5px;
  background: url("../img/list.png") no-repeat right;
}

.footer__inner_item-list-items {
  display: none;
}

.footer__inner_item-list-items li a {
  display: block;
  width: 170px;
  padding: 20px 10px;
  transition: color, background .3s ease;
}

.footer__inner_item-list-items li a:hover {
  background: #00868A;
  color: #fff;
}

ul > li:hover .footer__inner_item-list-items {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 100px;
}

.footer__inner_item-special {
  font-size: 14px !important;
  padding: 13px 15px 11px 50px;
  text-transform: uppercase;
  background: #00868A url("../img/eye-icon.png") no-repeat 5%;
  color: #fff !important;
  cursor: pointer;
}

.footer__inner_item::before {
  position: absolute;
  top: 0px;
  content: '';
  margin: 0 -30px;
  width: 1px;
  height: 100%;
  background: #c4c4c4;
}

.footer__inner_item:last-child::after {
  position: absolute;
  top: 0px;
  content: '';
  margin: 0 30px;
  width: 1px;
  height: 100%;
  background: #c4c4c4;
}
