.header {
	background-color: #635854;
	border-bottom: 4px solid #3596F5;
	padding: 12px 0;
	&__navbar {
		align-items: center;
		display: flex;
		justify-content: space-between;
		&_menu {
			display: flex;
			text-align: center;
		}
		&_item {
			margin: 0 40px;
		}
		&_link {
			color: #fff;
			text-decoration: none;
		}
		&_contacts {
			text-align: right;
		}
		&_text {
			display: block;
			color: #fff;
			font-size: 14px;
			margin-bottom: 4px;
		}
		&_phone {
			font-size: 17px;
			font-weight: 700;
			line-height: 20px;
			color: #fff;
			text-decoration: none;
		}
	}
}